@import "tailwindcss";

:root {
  --bg-primary: #030712;
  --bg-surface: #090e1a;

  --accent-blue: #3b82f6;
  --accent-cyan: #22d3ee;
  --accent-primary: #d4a5a5;
  --accent-mid: #c89aa6;
  --accent-secondary: #b07d7d;
  --accent-highlight: #ebcaca;

  --text-primary: #f9fafb;
  --text-secondary: #d1d5db;
  --border-soft: rgba(255, 255, 255, 0.08);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--bg-primary);
  color: var(--text-primary);
  font-family: Inter, sans-serif;
}
